html
    head
        title Contact Us
        link(rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        include header
        link(rel="stylesheet", href="/css/contact.css", type='text/css' )
        script(src="/js/contact.js", type='text/javascript' )
    body
        include navbar
        .container
            .row
                .col-sm-2
                .col-sm-10
                    h1 Contact Us
            form
                .form-group.row
                    label.col-sm-2.col-form-label(for="inputName") Name
                    .col-sm-10
                        input.form-control#inputName(type="text")
                
                .form-group.row
                    label.col-sm-2.col-form-label(for='inputEmail') Email
                    .col-sm-10
                        input#inputEmail.form-control(type='email')

                .form-group.row
                    label.col-sm-2(for="inputMessage") Message
                    .col-sm-10
                        textarea.form-control#inputMessage(rows="7")

                .form-group.row
                    .col-sm-2
                    .col-sm-10
                        button#submit(type='button') Submit
                        
                .form-group.row
                    .col-sm-2
                    .col-sm-10
                        p#message

        