html
    head
        title= details.name + "(" + details.date + ")"
        include header
        link(rel="stylesheet", href="/css/event-details.css", type='text/css' )
        script(src="/js/event-details.js", type='text/javascript' )
        
        link(rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    
    body
        include navbar
        div.container
            div.row
                div(class="col-xs-12")
                    div(id="name-edit-container")
                    
                        div.input-group
                            input(id="input-name-edit" type="text" class="form-control" placeholder= details.name)
                            span.input-group-btn
                                button.btn.btn-default(id="btn-submit-name" type="button") Go!

                    div#name-container
                        h1= details.name
                            i.fa.fa-pencil-square-o(id="btn-edit-name")
                        p= [(new Date(details.date)).getMonth() + 1, (new Date(details.date)).getDate(), (new Date(details.date)).getFullYear()].join("-")
            div.row
                
                each scene, index in details.scenes_detailed
                    div(class="col-sm-3 col-xs-12")
                        div.scenes
                            ul.fa-ul
                                each subject, subjectIdx in scene
                                    li= subject.name + " "
                                        if subject.gender =="male"
                                            i(class="fa fa-male fa-li")
                                        else if subject.gender =="female"
                                            i(class="fa fa-female fa-li")
                                        else
                                            i(class="fa fa-question-circle-o fa-li")
                                        i.fa.fa-close.remove-subject(id="scene-"+index+"-subject-"+subjectIdx+"-remove")
                                        
                            div.input-group
                                div.input-group-btn
                                    button(id="scene-"+index class="btn btn-default add-male" type="button")
                                        i.fa.fa-male
                                    button(id="scene-"+index class="btn btn-default add-female" type="button")
                                        i.fa.fa-female
                                        
                                    button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                        span.caret
                                        span.sr-only Toggle Dropdown
                                    
                                    ul.dropdown-menu
                                        each subject, subjectIndex in details.subjects
                                            li.dropdown-choice(id="scene-"+index+"-subject-"+subjectIndex)= subject.name
                                        
                                input(id="new-subject-name-"+index type="text" class="form-control" aria-label="New subject name" placeholder="Name...")

                div(class="col-sm-3 col-xs-12")
                    div.scenes
                        h3 Add new scene
                        div(class="input-group")
                            span(class="input-group-btn")
                                button(id="submit-new-scene" class="btn btn-default" type="button") +
            
            div.row
                div(class="col-xs-12")
                    a(href="/events")
                        button Back to Events