html
    head
        title= title
        link(rel="stylesheet", href="events.css", type='text/css' )
    body
        h1= message
        
        each ev in events
        
            div.events
                h3= ev.name
                p= ev.date
                a(href="events/" + ev.event_id)
                    button View It