html
    head
        link(rel="stylesheet", href="css/events.css", type='text/css' )
        script(src="/js/events.js", type='text/javascript' )
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript")
    body
        div.container
            div.row
                each ev in events
                
                    div(class="col-sm-3 col-xs-12")
                        div.events
                            h3= ev.name
                            p= ev.date
                            a(href=userId + "/events/" + ev.event_id)
                                button View It
                    
                div(class="col-sm-3 col-xs-12")
                    div.events
                        h3 Add new event
                        div(class="input-group")
                            input(id="new-event-name" type="text" class="form-control" placeholder="Event name")
                            span(class="input-group-btn")
                                button(id="submit-new-event" class="btn btn-default" type="button") Go!
