html
    head
        title My Events
        include header
        link(rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/events.css", type='text/css' )
        script(src="/js/events.js", type='text/javascript' )
        
        //- Datepicker functionality
        link(rel="stylesheet" href="/js/datepicker/jquery-ui.css")
        script(src="/js/datepicker/jquery-ui.js")
    body
        include navbar
        div.container
            div.row
                each ev in events
                
                    div(class="col-sm-3 col-xs-12")
                        div.events
                            i.fa.fa-close.remove-event(id="remove-event-"+ev.event_id)
                            h3= ev.name
                            div.warning-container
                            p= [(new Date(ev.date)).getMonth() + 1, (new Date(ev.date)).getDate(), (new Date(ev.date)).getFullYear()].join("-")
                            a(href="/events/" + ev.event_id)
                                button.view-button View It
            div.row        
                div(class="col-sm-3 col-xs-12")
                    div.events#add-new-event
                        h3 Add new event
                        form
                            div.form-group
                                div.input-group
                                    span.input-group-addon
                                        i.fa.fa-users
                                    input.form-control(id="new-event-name" type="text" placeholder="Event name")
                            div.form-group
                                div.input-group
                                    span.input-group-addon
                                        i.fa.fa-calendar
                                    input#datepicker.form-control(type="text" placeholder="Event date")
                            div.form-group
                                button(id="submit-new-event" class="btn btn-default" type="button") Add!
        
        
