html

    head
        if name
            title= "Album Planner (" + name + ")"
        if !name
            title Album Planner
        include header
        link(rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

    body
        include navbar
        
        h1 Album Planner