html

    head
        title Album Planner Home
        include header
        link(rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/index.css", type='text/css' )

    body
        include navbar
        div.container
            div.row#section-1
                div.col-sm-3
                div.col-sm-6.col-xs-12.text-center
                    div.text-box
                        h1 Album Planner
                        p Never miss a shot again
                    if userId
                        a(href="/events")
                            button#try-button
                                h3 View Your Events
                    else
                        a(href="/auth/facebook")
                            button#try-button
                                h3 Sign In With 
                                    i.fa.fa-facebook-square
                        
                div.col-sm-3
            div.row
                div.col-xs-12.text-center.new-section
                    h2.text-bold Features
            div.row
                div.col-sm-4.col-xs-12
                    h3.text-center.text-callout-color Free
                    p Use Album Planner with your clients, free of charge. No gimmicks. No cost.
                div.col-sm-4.col-xs-12
                    h3.text-center.text-callout-color Simple
                    p Simple interface designed with mobile in mind. Use your facebook account to sign in. No username/password combination to forget.
                div.col-sm-4.col-xs-12
                    h3.text-center.text-callout-color Effective
                    p No more guesswork or interpreting scribbled notes. Each planned shot is shown with a list of subjects.
                    
            div.row
                div.col-xs-12.text-center.new-section
                    h2.text-bold As Easy as 1-2-3
            div.row
                div.col-sm-4.col-xs-12
                    img(src="/images/event.png")
                div.col-sm-8.col-xs-12
                    h3.text-callout-color Add an Event
                    p Events are containers for planned photos. A wedding, studio session, or party &#8212 each would be its own event.
            div.row
                div.col-sm-4.col-xs-12
                    img(src="/images/scene.png")
                div.col-sm-8.col-xs-12
                    h3.text-callout-color Add a Scene
                    p A scene is a desired photograph during the event. Scenes are shaded based on if the photo has been taken to make it easy to keep track of outstanding shots.
            
            div.row
                div.col-sm-4.col-xs-12
                    img(src="/images/subject.png")
                div.col-sm-8.col-xs-12
                    h3.text-callout-color Add Subjects
                    p Subjects are people, animals, or objects you want in each photograph. Use the dropdown box to quickly add the same subject to multiple scenes.