nav.navbar.navbar-light.bg-faded
    form.form-inline.float-xs-left
        if !userId
            button.btn.btn-outline-secondary(type="button")
                a(href="/auth/facebook")
                    i.fa.fa-facebook-square
                    span Login with Facebook
        if userId
            button.btn.btn-outline-secondary(type="button")
                p= "Logged in as " + name
            button.btn.btn-outline-secondary(type="button")
                a(href="/logout") Sign Out
            button.btn.btn-outline-secondary(type="button")
                a(href="/events") Events
            button.btn.btn-outline-secondary(type="button")
                a(href="/") Home