.events {
    border-radius: 5px;
    padding: 10px;
    
    border-style: solid;
    border-width: thin;
    border-color: #404040;
    
    margin-bottom: 20px;
}

#add-new-event {
    border-style: none;
}

.events .view-button {
    color: #FCFCFC;
    background-color: #FF723D;
    border-color: #FF723D;
    border-radius: 5px;
    border-style: solid;
}

.events h3 {
    color: #009C79;
    margin-top: 5px;
}

.remove-event {
    color: #FF723D;
    cursor: pointer;
    float: right;
}


.alert-link {
    cursor: pointer;
}