.scenes {
    background-color: rgb(229,229,229);
    border-radius: 5px;
    font-size: larger;
}

.fa-male {
    color: rgb(80, 155, 217);
}

.fa-female {
    color: rgb(227,125,163);
}

.dropdown-menu li:hover {
    cursor: pointer;
    background-color: rgb(209,204,255);
}

.remove-subject {
    cursor: pointer;
    float: right;
    margin-right: 10px;
    background-color: white;
    border-radius: 3px;
    padding: 1px;
}