#section-1 {
    min-height: 500px;
    background-image: url(../images/camera-table-wooden-small.jpg);
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#try-button {
    margin-top: 25px;
    padding: 5px 50px;
    background-color: #FF723D;
    color: #FCFCFC;
    border-color: #FF723D;
    border-style: solid;
    border-radius: 10px;
}

.text-box {
    background-color: #009C79;
    color: #FCFCFC;
    border-radius: 10px;
    padding: 20px;
}

.text-bold {
    font-weight: bold;
}

.text-callout-color {
    color: #009C79;
}

.new-section {
    padding-top: 40px;
}